/* style.css */

/*------------------------------------*\
  #GENERAL
\*------------------------------------*/

html {
  height: 100%;
  width: 100%;
  overflow: auto;
}

#container {
  text-align: center;
}

/* make space for footer */
#container {
  min-height: calc(100% + 142px);
  margin-bottom: -200px;
}

#container:after {
  display: block;
  content: "";
  height: 200px;
}

/*------------------------------------*\
  #LINEAR-GRADIENT-STRIPE
\*------------------------------------*/

body {
  color: white;
  margin: 10px 80px;
  background-image: linear-gradient(171deg, #8200e6 5.26%, #6800e6 5.26%, #6800e6 19.47%, #775ef7 19.47%, #775ef7 23.68%, #fff 23.68%, #fff 44.74%, #f0f0f0 44.74%, #f0f0f0 50%);
  background-size: 6060.83px auto;
  background-repeat: no-repeat;
  background-color: #775ef7;
}

/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

nav a:hover {
  background-color: #61DF98;
}

nav a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  padding: 5px 15px;
  float: right;
}

a#logo {
  float: left;
  text-decoration: none;
  color: white;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

#header {
  clear: both;
  text-align: center;
  padding-top: 35px;
}

#header span {
  color: #61DF98
}

#header input {
  border-radius: 5px;
  padding: 10px 25px;
  margin: 0px 5px;
  border: none;
  font-size: 10px;
}

#header input[type=submit] {
  background-color: #61DF98;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/*------------------------------------*\
  #ARROW-BUTTON
\*------------------------------------*/

#arrow {
  display: inline-block;
  font-size: 10px;
  position: absolute;
  left: 35%;
  right: 35%;
  bottom: 48.5%;
  padding-bottom: 9.5%
}

#arrow button {
  background-color: #61DF98;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
}

/*------------------------------------*\
  #CREATE-YOUR-ACCOUNT-TEXT & BUTTON
\*------------------------------------*/

#create-account {
  color: black;
  position: absolute;
  display: inline-block;
  top: 45%;
  left: 30%;
  right: 30%;
}

.create {
  background-color: #6800e6;
  font-size: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding: 7px 20px;
}

/*------------------------------------*\
  #OUR-SERVICES
\*------------------------------------*/

#services {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#our-services {
  color: black;
  padding-top: 340px
}

.card {
  text-align: left;
  font-size: 12px;
  width : 300px;
  height : 100px;
  background-color : #f8f8f8;
  border-radius: 5px;
  border: solid #e0e0e0;
  border-width: 1px;
  margin : 5px;
  display: flex;
  justify-content: center; /* center inside flex items */
  align-items: center; /* center inside flex items */
}

.card img {
  float: left;
  padding-right: 8px;
}

/*------------------------------------*\
  #ARE-YOU-READY
\*------------------------------------*/

#ready p {
  color: #775ef7;
  float: left;
  text-align: left;
  padding-left: 10%;

}

#ready span {
  color: #6800e6;
}

.contact {
  margin-top: 10px;
  background-color: #ffffff;
  font-size: 10px;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding: 7px 20px;
  border: solid #e0e0e0;
  border-width: 1px;
}

#ready button {
  margin: 20px 5px;
}

@media only screen and (max-width: 800px) {
  /**
 * stack buttons below the text if the window size goes below 800px
 * also change margins and background color in case the section runs
 * into space at bottom of page
 */
  #ready button {
    clear: both;
    margin: 5px;
  }
  #ready {
    margin: 20px 0px;
    padding: 20px 0px;
    background-color: #f0f0f0;
  }
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  font-size: 1.2vw;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

@media only screen and (min-width: 1415px) {
  .column {
    font-size: 15px;
  }
  #container:after {
    height: 300px;
  }
}

.column span {
  float: left;
  padding-right: 5px;
  padding-bottom: 20px;
}
